h1 {
  color: red;
  font-size: 50px;
  font-family: Times New Roman;
  text-align: center;
}

h2 {
  color: blue; 
  font-family: Times New Roman;
}

.layout {
  width: 100%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

img {
  height: 450px;
  width: 550px;
}